.debug{
    color: white;
    position: fixed;
}

.hide{
    visibility: hidden;
}

.param{

}


#debug {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    fo